.back .effects,
.back .shapes {
    position: absolute;
    display: none;
}

.back .shapes img:nth-child(n) {
    width: 50px;
}

.back .shapes img:nth-child(2) {
    width: 50px;
}

.back .shapes img:nth-child(3) {
    width: 50px;
}

.back .effects img:nth-child(1) {
    width: 30px;
}

.back .effects img:nth-child(2) {
    width: 30px;
}

.back .effects img:nth-child(3) {
    width: 30px;
}

.back .effects img:nth-child(4) {
    width: 30px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.main > img {
    width: 20%;
}

.main form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main > .loginArea form,
.main > .loginArea form label {
    display: flex;
    flex-direction: column;
}

/* .main > div label {
    background: var(--white);
} */

.main > div label img {
    width: 1.5em;
    filter: invert();
}

.main > .loginArea form label input::placeholder {
    color: var(--white);
}

.main > .loginArea form label input,
.main > .loginArea form label .inputVisible {
    background: var(--inputArea);
    padding: 6px;
    border-radius: 12px;

}

.main > .loginArea form label .inputVisible {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main form > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}