.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  color: #EFE838;
}

.hero h2 {
  font-size: 1rem;
  font-weight: normal;
}

.treinamentos {
  width: 100%;
  background-color: var(--white);
}