/* Nav */
header {
    background: #000338;
    margin: 0px auto;
    position: static;
    border-bottom: 1px solid rgb(106, 106, 128);
    max-width: 1440px;
    width: 100%;
    padding: 0 32px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
}

/* Logo (nav) */
nav a img {
    width: 4rem;
    margin: 0.5rem;
}

/* Links navegação (nav) */
nav {
    display: flex;
    align-items: center;
    gap: 4em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
}

nav ul a {
    font-size: 1em;
    font-weight: 400;
    padding: 30px 0;
    color: rgb(179, 179, 179);
    transition: 0.2s ease;
}

nav ul a:hover {
    color: rgb(233, 233, 233);
    border-bottom: 2px solid rgb(177, 177, 240);
}

/* Login (nav) */
nav .login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .login-register a > img {
    width: 20px;
    filter: gray;
}

nav .login-register > a:first-child {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    padding: 0.2rem 0.6rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

nav .login-register > a:hover:first-child {
    color: rgb(238, 238, 238);
    transform: translateY(-2px);
}

nav .login-register > a:last-child {
    border: 2px solid #f2f2f256;
    text-align: center;
    border-radius: 3px;
    padding: 0.2rem 0.6rem;
    font-weight: 700;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
}

nav .login-register > a:hover:last-child {
    color: rgb(238, 238, 238);
    border: 2px solid #ac2c2760;
    background: #ac2c27;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Seções do main (CONFIG) */
section {
    height: 100vh;
    width: 100%;
    color: black;
}

.first,
.second,
.third,
.fourth,
.fifth,
.fourth,
.sixth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

p {
    text-align: justify;
}

.mod {
    width: 700px;
}

/* Primeira seção */
.first {
    background: #000338;
    color: white;
    justify-content: center;
}

.first {
    flex-direction: row;
    padding-bottom: 150px;
    gap: 100px;
}

.first > h1 {
    font-size: 3em;
}

.first > div {
    text-align: center;
}

/* Segunda seção */
.second {
    background: #F1F5F9;
    text-align: center;
}

.second > h2,
.third > h2,
.fourth > h2,
.fifth > h2 {
    font-size: 2.3em;
    padding: 1.5em 3em;
}

.second .divider {
    display: flex;
    align-items: center;
    gap: 100px;
}

.second .divider > img {
    width: 300px;
}

.second .divider .content-text {
    width: 500px;
}

.second .divider .content-text > h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}

.second .divider .content-text > p {
    margin: 20px 0;
}

/* Terceira seção */
.third {
    background: #F1F5F9;
}

.third .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.third .text-atividades {
    display: flex;
    gap: 40px;
}

.third .box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.third .box-text > p {
    background: #000338;
    color:#F1F5F9;
    gap: 100px;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}

/* Quarta seção */
.fourth {
    background: #F1F5F9;
}

.fourth .know-more {
    background: #000338;
    color:#F1F5F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 700px;
    padding: 30px;
    border-radius: 30px;
    margin-top: 50px;
}

.fourth .know-more span {
    font-size: 1.1em;
}

.fourth .know-more a {
    background: #456CFA;
    width: 300px;
    padding: 10px;
    border-radius: 35px;
    transition: 0.2s ease-in-out;
}

.fourth .know-more a:hover {
    background: #2a4abd;
}

/* Quinta seção */
.fifth {
    background-image: linear-gradient(#283666, #455DAF);
    color: white;
    height: auto;
    padding-bottom: 100px;
}

.fifth .box-baloons .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.fifth .box-baloons .content ul {
    list-style-type: disc;
}

.fifth .box-baloons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 60px;
}

.fifth .box-baloons .baloons {
    background: #000338;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 30px;
}

.fifth .box-baloons .baloons > a {
    background: #456CFA;
    width: 250px;
    padding: 10px;
    border-radius: 35px;
    transition: 0.2s ease-in-out;
}

/* Sexta seção */
.sixth {
    background-image: linear-gradient(#455DAF, #456CFA, #F1F5F9 60%);
    height: auto;
}

/* Footer */
footer {
    background: #000338;
    color: black;
}